/* Card */

#update-refund .order-history {
  margin-top: 20px;
  margin-bottom: 50px;
}

#update-refund .order-history .title h1 {
  font-size: 22.5px;
  padding: 0 0 20px 0;
}

/* Informasi Pemasangan */

#update-refund .form-wrapper {
  margin-bottom: 30px;
}

#update-refund .form-wrapper .form-header {
  margin-bottom: 30px;
}

#update-refund p {
  padding: 3px 9.75px;
}

#update-refund .detail-info.row label.form-label {
  padding: 3px 9.75px;
}

#update-refund textarea.desc-notes.form-control {
  min-height: 135px !important;
}

#update-refund .costumer-info.col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
  width: 60%;
}

#update-refund .sales-info.col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
  width: 40%;
}

@media screen and (max-width: 1200px) {
  #update-refund .costumer-info.col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
    width: 100%;
  }

  #update-refund .sales-info.col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
    width: 100%;
  }
}
