/* Table */
#view-work-order-tukang .ant-table-wrapper .ant-table-thead > tr > th {
  color: #ffff;
  font-weight: 500;
  background-color: #398318;
}

#view-work-order-tukang
  .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 0;
}

#view-work-order-tukang
  .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-start-end-radius: 0;
}

#view-work-order-tukang .table-head-wrapper {
  margin-bottom: 20px;
}

#view-work-order-tukang .ant-table-fixed {
  table-layout: fixed;
}

#view-work-order-tukang .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #dcdcdc;
}

#view-work-order-tukang .ant-table-tbody > tr > td {
  word-wrap: break-word;
  word-break: break-word;
}

#view-work-order-tukang .table-striped-rows tr:nth-child(even) td {
  background-color: #ffff;
}

#view-work-order-tukang .table-striped-rows tr:nth-child(odd) td {
  background-color: #e4e9f7;
}

#view-work-order-tukang .ant-table-thead > tr > th.col-work-status {
  background-color: #a30014 !important;
}

#view-work-order-tukang .ant-table-thead > tr > th.col-complaint-date {
  background-color: #a30014 !important;
}

#view-work-order-tukang .ant-table-thead > tr > th.col-complaint-status {
  background-color: #a30014 !important;
}

/* Filter Search */

#view-work-order-tukang .filter-search {
  width: 370px;
}

#view-work-order-tukang input.filter-ltr.form-control {
  height: 45px !important;
  padding-left: 35px !important;
}

#view-work-order-tukang .filter-search .search-icon {
  float: left;
  margin-left: 11px;
  margin-top: -30px;
  position: relative;
}

/* Button Approve */

#view-work-order-tukang button.button-approve.btn.btn-success {
  width: 100% !important;
  height: 40px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #6b9230 !important;
  transition: 0.3s ease-in-out;
}

#view-work-order-tukang button.button-approve.btn.btn-success:hover:not(.btn-active) {
  background-color: #6d9631 !important;
}

/* Button Decline */

#view-work-order-tukang button.button-decline.btn.btn-danger {
  width: 100% !important;
  height: 40px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #a30014 !important;
  transition: 0.3s ease-in-out;
}

#view-work-order-tukang button.button-decline.btn.btn-danger:hover:not(.btn-active) {
  background-color: #d80019 !important;
}

@media screen and (max-width: 1200px) {
  #view-work-order-tukang .filter-search {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #view-work-order-tukang button.btn-dark-primary.button-submit.btn.btn-primary {
    margin: 0px;
    width: 100% !important;
  }

  #view-work-order-tukang
    .ant-picker.ant-picker-range.css-dev-only-do-not-override-1ck3jst.date-range.ms-3 {
    width: 100% !important;
  }
}
