/* Header */
#update-quotation {
  display: flex;
  justify-content: center;
  align-items: center;
}

#update-quotation .card {
  width: 900px;
}

#update-quotation .card .card-body {
  min-height: 100vh;
  padding: 3rem 3rem !important;
}

#update-quotation .card .card-body .invoice-detail {
  margin: 0 0 30px 0;
}

#update-quotation .card .card-body .vendor-information .vendor-detail h1 {
  color: #007eb4;
  font-size: 41px;
  padding: 0 0 10px 0;
}

#update-quotation .receiver-information .receiver-detail {
  padding: 0 0 10px 0;
}

#update-quotation .receiver-information .receiver-detail h1 {
  font-size: 18px;
}

#update-quotation .address h3 {
  font-size: 16px;
  padding: 0 0 10px 0;
}

#update-quotation .payment-request h1 {
  color: #484747;
  font-size: 41px;
  padding: 0 0 10px 0;
}

#update-quotation .payment-request h3 {
  padding: 0 0 10px 0;
  font-size: 16px;
}

/* Table Jasa */

#update-quotation .detail-table {
  margin: 0 0 30px 0;
}

#update-quotation table.table-jasa.table.table-hover {
  margin: 0;
}

#update-quotation table.table-jasa.table.table-hover tr th {
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #055900 !important;
}

#update-quotation .detail-table table.table-jasa.table.table-hover tr:nth-child(even) td {
  background-color: #e4e9f7;
}

#update-quotation .detail-table table.table-jasa.table.table-hover tr:nth-child(odd) td {
  background-color: #ffff;
}

/* Table Material */

#update-quotation .detail-table table.table-material.table.table-hover tr th {
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #a16d00;
}

/* Button Add Quotation */

#update-quotation .button-new-quotation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 5px;
}

/* Footer */

#update-quotation .payment-detail .payment-method {
  margin: 10px 0;
}

#update-quotation .payment-detail .payment-method {
  margin: 10px 0;
}

#update-quotation .payment-detail h1 {
  padding: 10px 0;
  font-size: 16px;
}

#update-quotation .payment-detail .payment-method h1 {
  padding: 0 0 10px 0;
  font-size: 16px;
}

#update-quotation .payment-detail .payment-evidence h1 {
  padding: 0 0 10px 0;
  font-size: 16px;
}

#update-quotation .payment-detail .payment-method h3 {
  padding: 0 0 10px 0;
  font-size: 14px;
}
