#update-quotation .bank-information .form-header {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
}

#update-quotation .bank-information .form-sub-header {
  margin-bottom: 50px;
}

#update-quotation .bank-information .sub-header {
  display: flex;
  justify-content: space-between;
}

#update-quotation .quotation-information .form-body {
  margin-bottom: 50px;
}

#update-quotation .quotation-information .form-header {
  display: flex;
  justify-content: space-between;
  min-height: 45px;
}

#update-quotation .quotation-information .form-body {
  margin-bottom: 50px;
}

#update-quotation .bank-information .form-body .field-alamat {
  min-height: 100px;
}

#update-quotation .bank-information .form-body .form-check-request .form-check-input {
  margin-top: 0;
  width: 15px;
  height: 15px;
}

#update-quotation .table-item .table tr,
.table th,
.table td {
  border: 1px solid gray;
}

#update-quotation .ant-table-wrapper .ant-table-thead > tr > th {
  color: #ffff;
  font-weight: 500;
  background-color: #183383;
}

#update-quotation .table-item th {
  background-color: #555555;
  color: #ffff;
  font-weight: 400;
  text-align: center;
}

/* Button Add Quotation */

#update-quotation .button-new-quotation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 5px;
}

/* Footer */

#update-quotation .payment-detail .payment-method {
  margin: 10px 0;
}

#update-quotation .payment-detail .payment-method {
  margin: 10px 0;
}

#update-quotation .payment-detail h1 {
  padding: 10px 0;
  font-size: 16px;
}

#update-quotation .payment-detail .payment-method h1 {
  padding: 0 0 10px 0;
  font-size: 16px;
}

#update-quotation .payment-detail .payment-evidence h1 {
  padding: 0 0 10px 0;
  font-size: 16px;
}

#update-quotation .payment-detail .payment-method h3 {
  padding: 0 0 10px 0;
  font-size: 14px;
}
