/* Form Layout */

#detail-costumer {
  margin-top: 20px;
}

#detail-costumer input.form-control-plaintext {
  padding: 5px 0;
}

#detail-costumer label.form-label.col-form-label {
  padding: 5px 9.75px;
}

/* Content Top */

#detail-costumer .row.row-1 {
  margin-bottom: 50px;
}

#detail-costumer .row.row-1 .col-xxl-3 {
  display: flex;
  justify-content: center;
}

#detail-costumer .row.row-1 .col-xxl-3 i {
  font-size: 150px;
}

#detail-costumer .row.row-1 .col-xxl-9 {
  padding: 10px;
}

/* Content Middle */

#detail-costumer .row.row-2 .col-xxl-3 {
  padding: 0 12px 0 0;
}

#detail-costumer .row.row-2 .col-xxl-3 .box .title {
  margin-bottom: 10px;
  margin-top: 20px;
}

#detail-costumer .row.row-2 .col-xxl-3 .box .title h4 {
  color: #9a9a9a;
}

#detail-costumer .row.row-2 .col-xxl-3 .box ul {
  line-height: 25px;
}

#detail-costumer .row.row-2 {
  display: flex;
}

#detail-costumer .row.row-2 .col-xxl-9 .tab .tab-title {
  border-bottom: 1px solid rgb(200, 200, 200);
  margin-bottom: 10px;
}

#detail-costumer .row.row-2 .col-xxl-9 .tab .tab-title .title {
  display: flex;
  column-gap: 5px;
  padding: 0 10px 0 5px;
  width: fit-content;
  border-bottom: 1px solid black;
}

#detail-costumer .row.row-2 .col-xxl-9 .tab .tab-title .title i {
  font-size: 30px;
}

#detail-costumer .row.row-2 .col-xxl-9 .tab .tab-title .title p {
  font-weight: 500;
  font-size: 18px;
  margin-top: 8px;
  color: #9a9a9a;
}

#detail-costumer .row.row-2 .col-xxl-9 .tab .data-diri {
  width: 50%;
  line-height: 25px;
}

#detail-costumer .row.row-2 .basic-info {
  margin-top: 35px;
}

#detail-costumer .row.row-2 .basic-info p {
  font-size: 18px;
  background-color: #ffff;
  margin-top: -28px;
  padding-right: 10px;
  width: fit-content;
  position: relative;
}

#detail-costumer .row.row-2 .basic-info i.bi.bi-person-fill {
  font-size: 24px;
  background-color: #ffff;
  margin-top: -28px;
  padding-right: 10px;
  width: fit-content;
  position: relative;
}

/* Content Bottom */

#detail-costumer ul.navtab-detail-costumer.nav.nav-tabs {
  background: var(--main, #fff0f3);
  margin: 10px 0 10px 0;
}

#detail-costumer .navtab-detail-costumer.nav.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  background: var(--main, #fff0f3);
  border-color: transparent;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

#detail-costumer .navtab-detail-costumer.nav.nav-tabs .nav-link {
  border-color: transparent;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

#detail-costumer .navtab-detail-costumer.nav.nav-tabs .nav-link:hover {
  border-color: transparent;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

#detail-costumer .nav-item.tab-1 {
  border-right: 2px solid black !important;
}

@media screen and (max-width: 1200px) {
  #detail-costumer .row.row-2 .col-xxl-3 {
    padding: 0 9.75px;
  }
}

@media screen and (max-width: 768px) {
  #detail-costumer .costumer-profile {
    text-align: center;
  }
}
