/* Form Layout */

#detail-costumer {
  margin-top: 20px;
}

#detail-costumer input.form-control-plaintext {
  padding: 5px 0;
}

#detail-costumer label.form-label.col-form-label {
  padding: 2px 9.75px;
}

/* Table */
#detail-costumer .ant-table-wrapper .ant-table-thead > tr > th {
  color: #ffff;
  font-weight: 500;
  background-color: #183383;
}

#detail-costumer
  :where(.css-dev-only-do-not-override-1ck3jst).ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 0px !important;
}

/* Content Top */

#detail-costumer .row.row-1 {
  margin-bottom: 50px;
}

#detail-costumer .row.row-1 .col-xxl-3 {
  display: flex;
  justify-content: center;
}

#detail-costumer .row.row-1 .col-xxl-3 i {
  font-size: 150px;
}

#detail-costumer .row.row-1 .col-xxl-9 {
  padding: 10px;
}

/* Content Middle */

#detail-costumer .row.row-2 .col-xxl-3 {
  padding: 0 12px 0 0;
}

#detail-costumer .row.row-2 .col-xxl-3 .box .title {
  margin-bottom: 10px;
  margin-top: 20px;
}

#detail-costumer .row.row-2 .col-xxl-3 .box .title h4 {
  color: #9a9a9a;
}

#detail-costumer .row.row-2 .col-xxl-3 .box ul {
  line-height: 25px;
}

#detail-costumer .row.row-2 {
  display: flex;
}

#detail-costumer .row.row-2 .col-xxl-9 .tab .tab-title {
  border-bottom: 1px solid rgb(200, 200, 200);
  margin-bottom: 10px;
}

#detail-costumer .row.row-2 .col-xxl-9 .tab .tab-title .title {
  display: flex;
  column-gap: 5px;
  padding: 0 10px 0 5px;
  width: fit-content;
  border-bottom: 1px solid black;
}

#detail-costumer .row.row-2 .col-xxl-9 .tab .tab-title .title i {
  font-size: 30px;
}

#detail-costumer .row.row-2 .col-xxl-9 .tab .tab-title .title p {
  font-weight: 500;
  font-size: 18px;
  margin-top: 8px;
  color: #9a9a9a;
}

#detail-costumer .row.row-2 .col-xxl-9 .tab .data-diri {
  width: 50%;
  line-height: 25px;
}

#detail-costumer .row.row-2 .basic-info {
  margin-top: 35px;
}

#detail-costumer .row.row-2 .basic-info h1 {
  font-size: 18px;
  background-color: #ffff;
  margin-top: -28px;
  padding-right: 10px;
  width: fit-content;
  position: relative;
}

#detail-costumer .row.row-2 .basic-info p {
  word-break: break-word;
}

#detail-costumer .row.row-2 .basic-info i.bi.bi-person-fill {
  font-size: 24px;
  background-color: #ffff;
  margin-top: -28px;
  padding-right: 10px;
  width: fit-content;
  position: relative;
}

/* Content Bottom */
#detail-costumer .nav-fill > .nav-link,
#detail-costumer .nav-fill .nav-item {
  width: fit-content;
  position: relative;
  color: grey;
  font-weight: 500;
  border-right: 2.5px solid grey;
  line-height: 5px;
}

#detail-costumer .nav-fill > .nav-link,
.nav-fill .nav-item:nth-child(2) {
  border-right: none;
}

#detail-costumer ul.navtab-detail-costumer.nav.nav-tabs {
  margin: -23px 0px 10px 0;
  width: 350px !important;
}

#detail-costumer .navtab-detail-costumer.nav.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: grey;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  border-color: transparent;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

#detail-costumer .navtab-detail-costumer.nav.nav-tabs .nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-color: transparent;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

#detail-costumer .navtab-detail-costumer.nav.nav-tabs .nav-link:hover {
  border-color: transparent;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

#detail-costumer .nav-item.tab-1 {
  border-right: 2px solid black !important;
}

@media screen and (max-width: 1200px) {
  #detail-costumer .row.row-2 .col-xxl-3 {
    padding: 0 9.75px;
  }
}

@media screen and (max-width: 768px) {
  #detail-costumer .costumer-profile {
    text-align: center;
  }
}
