#update-order .costumer-information {
  width: 345px;
}

#update-order .costumer-information .form-header {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
}

#update-order .costumer-information .form-body {
  margin-bottom: 50px;
}

#update-order .costumer-information .form-body .field-alamat {
  min-height: 215px;
}

#update-order .costumer-information .form-body .form-check-request .form-check-input {
  margin-top: 0;
  width: 15px;
  height: 15px;
}

/* Button */

.btn.btn-light-dark {
  width: 150px;
  height: 50px;
  color: white !important;
  border-color: transparent !important;
  background-color: #7f7f7f !important;
  transition: 0.3s ease-in-out;
}

.btn.btn-light-dark:hover:not(.btn-active) {
  background-color: rgb(57, 57, 59) !important;
}

.btn.btn-dark-danger {
  width: 100px;
  height: 50px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #a30014 !important;
  transition: 0.3s ease-in-out;
}

.btn.btn-dark-danger:hover:not(.btn-active) {
  background-color: #d80019 !important;
}

.btn.btn-dark-primary {
  width: 100px;
  height: 50px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #020080 !important;
  transition: 0.3s ease-in-out;
}

.btn.btn-dark-primary:hover:not(.btn-active) {
  background-color: #0300b5 !important;
}

.btn.btn-dark-success {
  width: 130px;
  height: 50px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #6b9230 !important;
  transition: 0.3s ease-in-out;
}

.btn.btn-dark-success:hover:not(.btn-active) {
  background-color: #7cb920 !important;
}

.button-add button {
  width: 70px;
  height: 30px;
  margin-bottom: 10px;
  background-color: #0f4cff;
  color: #ffff;
  border: none;
  border-radius: 5px;
}

.button-add-order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 5px;
}

svg.svg-inline--fa.fa-plus.fa-lg.plus-icon {
  margin: 5px;
}

/* Table Picklist*/

#update-order .table-picklist .table tr,
.table th,
.table td {
  border: 1px solid gray;
}

.table-picklist th {
  text-align: center;
}

/* Table Order List */
.table-head-wrapper {
  display: flex;
  justify-content: space-between;
}

.table-head-wrapper .right {
  display: flex;
  justify-content: space-between;
}

#update-order .ant-table-wrapper .ant-table-thead > tr > th {
  color: #ffff;
  font-weight: 500;
  background-color: #183383;
}

#update-order
  .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 0;
}

.ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:last-child {
  border-start-end-radius: 0;
}

#update-order .table-head-wrapper {
  margin-bottom: 20px;
  justify-content: center;
}

#update-order .ant-table-fixed {
  table-layout: fixed;
}

#update-order .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #dcdcdc;
}

#update-order .ant-table-tbody > tr > td {
  word-wrap: break-word;
  word-break: break-word;
}

.table-striped-rows tr:nth-child(even) td {
  background-color: #ffff;
}

.table-striped-rows tr:nth-child(odd) td {
  background-color: #e4e9f7;
}

/* Searchbar */

#update-order .table-head-wrapper .filter-search .input-group {
  width: 600px;
  height: 45px;
  border-radius: 20px;
}

#update-order .table-head-wrapper .filter-search .input-group .form-control.filter-rtl {
  border-right: none;
}

#update-order .table-head-wrapper .filter-search .input-group-text.filter-rtl {
  background-color: transparent;
}

/* top */
#new-vendor .costumer-information {
  width: 345px;
}

#new-vendor .costumer-information .form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

#new-vendor .costumer-information .form-body {
  margin-bottom: 50px;
}

#new-vendor .costumer-information .form-body .field-alamat {
  min-height: 215px;
}

#new-vendor .costumer-information .form-body .form-check-request .form-check-input {
  margin-top: 0;
  width: 15px;
  height: 15px;
}

.col-8.d-flex.justify-content-between{
    flex-wrap: wrap;
}

.col-8.d-flex.justify-content-between .col-12{
    margin: -35px 0 20px 0;
}

.button-right{
    float: right;
    margin-top: -50px;
}

.form-button-request{
    display: flex;
}

.form-button-request i{
    font-size: 35px !important;
    margin-top: -8px;
}

.mb-5 .form-input-image{
    height: 250px;
}

.mb-5 .form-input-image.diri{
    height: 130px;
}

.mb-5 .form-input-image i{
    font-size: 40px;
}

    .parent {
      border-radius: 15px;
    }
    .file-upload {
      text-align: center;
      border: 3px solid rgb(210, 227, 244);
      padding: 1.5rem;
      position: relative;
      cursor: pointer;
      height: 100px;
    }
    .file-upload i {
      font-size: 40px;
    }

    .file-upload input {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
    }
    .file-upload2 {
      border: 3px solid rgb(210, 227, 244);
      padding: 1.5rem;
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;
    }
    .file-upload2 i {
      font-size: 40px;
    }
    .file-upload2 input {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
    }