/* Form Layout */
#format-email .card-body {
  padding: 20px;
}

#format-email .row {
  margin-bottom: 20px;
}

#format-email .header-template.row {
  width: 50%;
}

#format-email .rich-text {
  min-height: 350px;
}
