#more-information-tukang {
  height: 100% !important;
}

#more-information-tukang .card .card-body {
  min-height: 390px;
}

#more-information-tukang .row {
  min-height: 50% !important;
}

@media screen and (max-width: 1200px) {
  #more-information-tukang .fs-1.text-gray-800 {
    text-align: center;
  }

  #more-information-tukang .fs-1.text-danger {
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  #more-information-tukang .fs-1.text-gray-800 {
    text-align: center;
  }

  #more-information-tukang .card .card-body {
    min-height: auto;
  }
}
