#printout-cs {
  display: flex;
  justify-content: center;
  align-items: center;
}

#printout-cs .card {
  width: 900px;
}

#printout-cs .card .card-body {
  min-height: 100vh;
  padding: 3rem 3rem !important;
}

#printout-cs .card-header {
  display: block !important;
  min-height: 80px;
}

#printout-cs .content-header.row {
  margin: 20px;
}

#printout-cs .header-logo {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 400px) {
  #printout-cs .header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #printout-cs .header-information {
    text-align: center;
  }

  #printout-cs .header-logo img {
    height: 50px !important;
    padding-right: 0 !important;
  }

  #printout-cs .header-logo h1 {
    margin-bottom: 15px !important;
    padding-left: 0 !important;
  }
}
