/* Card */

.card-body.order-tracking {
  padding: 20px 40px 0px 40px;
}

/* Search Bar */

.searchbar {
  display: flex;
}

.searchbar h3 {
  display: flex;
  align-items: center;
  width: 380px;
  font-size: 14px;
}

.searchbar .ant-input-search .ant-input {
  border-color: #7f7f7f !important;
  border-radius: 20px 0 0 20px !important;
  border-right: none;
}

.searchbar .ant-btn-default.ant-btn-lg.ant-btn-icon-only.ant-input-search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #7f7f7f !important;
  border-radius: 0 20px 20px 0 !important;
  border-left: none;
}

.searchbar .ant-btn-default {
  box-shadow: none !important;
}

.searchbar .ant-input-search .ant-input:hover,
.ant-input-search .ant-input:focus {
  border-color: #7f7f7f !important;
  box-shadow: none !important;
}

.searchbar
  .ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button:not(.ant-btn-primary):hover {
  color: #7f7f7f !important;
  border-color: none !important;
  box-shadow: none !important;
}

/* Timeline */

.timeline {
  margin: 20px 0 20px 0;
}

.timeline .ant-steps {
  justify-content: center;
}

.timeline .ant-steps .ant-steps-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline
  .ant-steps.ant-steps-label-vertical.ant-steps-small:not(.ant-steps-dot)
  .ant-steps-item-icon {
  margin-inline-start: 0;
}

.timeline .ant-steps .ant-steps-item {
  width: 90px;
  flex: 0 !important;
}

.timeline .anticon svg {
  color: white;
}

.timeline .ant-steps.ant-steps-small .ant-steps-item-icon {
  line-height: 20px;
}

.timeline .ant-steps .ant-steps-item-wait .ant-steps-item-icon {
  background-color: #ee480a !important;
  opacity: 0.3;
}

.ant-steps .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  color: #ffff;
}

.timeline .ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #ee480a !important;
  border-color: #ffff;
  border-width: 2px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.timeline .ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #ee480a !important;
  border-color: #ffff;
  border-width: 2px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.timeline .ant-steps-item-title {
  margin: 0 20px 0 20px;
  font-weight: 600;
}

.timeline
  .ant-steps
  .ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  margin: 0 20px 20px;
  font-weight: 400;
}

.timeline .ant-steps.ant-steps-label-vertical .ant-steps-item-tail {
  margin: 0 0 0 41px;
  padding: 3px 12px;
}

.timeline
  .ant-steps
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #ee480a !important;
  opacity: 0.3;
  height: 2px;
  border-radius: 0;
}

.timeline
  .ant-steps
  .ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #ee480a !important;
  height: 2px;
  opacity: 0.3;
  border-radius: 0;
}

.timeline
  .ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #ee480a !important;
  height: 2px;
  border-radius: 0;
}

/* Table */

.order-tracking-table {
  padding: 0px 15px 10px 15px !important;
}

.order-tracking-table .ant-table-wrapper .ant-table-thead > tr > th {
  color: #99a0cf;
  font-weight: 700;
  background-color: transparent;
}

.order-tracking-table td.ant-table-cell.ant-table-cell {
  color: #7e96ff;
  font-weight: 500;
}

.order-tracking-table
  .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 0;
}

.order-tracking-table .ant-table-container table > thead > tr:first-child > *:last-child {
  border-start-end-radius: 0;
}

.table-view-order .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #dcdcdc;
}

.order-tracking-table .table-striped-rows tr:nth-child(even) td {
  background-color: #ffff;
}

.order-tracking-table .table-striped-rows tr:nth-child(odd) td {
  background-color: #e4e9f7;
}
