#new-order .costumer-information {
  width: 345px;
}

#new-order .costumer-information .form-header {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
}

#new-order .costumer-information .form-body {
  margin-bottom: 50px;
}

#new-order .costumer-information .form-body .field-alamat {
  min-height: 215px;
}

#new-order .costumer-information .form-body .form-check-request .form-check-input {
  margin-top: 0;
  width: 15px;
  height: 15px;
}

/* Button */

.btn.btn-light-dark {
  width: 150px;
  height: 50px;
  color: white !important;
  border-color: transparent !important;
  background-color: #7f7f7f !important;
  transition: 0.3s ease-in-out;
}

.btn.btn-light-dark:hover:not(.btn-active) {
  background-color: rgb(57, 57, 59) !important;
}

.btn.btn-dark-danger {
  width: 100px;
  height: 50px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #a30014 !important;
  transition: 0.3s ease-in-out;
}

.btn.btn-dark-danger:hover:not(.btn-active) {
  background-color: #d80019 !important;
}

.btn.btn-dark-primary {
  width: 100px;
  height: 50px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #020080 !important;
  transition: 0.3s ease-in-out;
}

.btn.btn-dark-primary:hover:not(.btn-active) {
  background-color: #0300b5 !important;
}

.btn.btn-dark-success {
  width: 130px;
  height: 50px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #6b9230 !important;
  transition: 0.3s ease-in-out;
}

.btn.btn-dark-success:hover:not(.btn-active) {
  background-color: #7cb920 !important;
}

.button-add button {
  width: 70px;
  height: 30px;
  margin-bottom: 10px;
  background-color: #0f4cff;
  color: #ffff;
  border: none;
  border-radius: 5px;
}

/* Table Picklist*/

#new-order .table-picklist .table tr,
.table th,
.table td {
  border: 1px solid gray;
}

.table-picklist th {
  text-align: center;
}
