/* Table */
#view-quotation .table-head-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

#view-quotation .table-head-wrapper .left {
  display: flex;
  align-items: center;
}

#view-quotation .table-head-wrapper .middle {
  display: flex;
  justify-content: space-between;
}

#view-quotation .ant-table-wrapper .ant-table-thead > tr > th {
  color: #ffff;
  font-weight: 500;
  background-color: #183383;
}

#view-quotation
  .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 0;
}

#view-quotation
  .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-start-end-radius: 0;
}

#view-quotation .table-head-wrapper {
  margin-bottom: 20px;
}

#view-quotation .ant-table-fixed {
  table-layout: fixed;
}

#view-quotation .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #dcdcdc;
}

#view-quotation .ant-table-tbody > tr > td {
  word-wrap: break-word;
  word-break: break-word;
}

#view-quotation .table-striped-rows tr:nth-child(even) td {
  background-color: #ffff;
}

#view-quotation .table-striped-rows tr:nth-child(odd) td {
  background-color: #e4e9f7;
}

#view-quotation .ant-table-thead > tr > th.col-work-status {
  background-color: #a30014 !important;
}

#view-quotation .ant-table-thead > tr > th.col-complaint-date {
  background-color: #a30014 !important;
}

#view-quotation .ant-table-thead > tr > th.col-complaint-status {
  background-color: #a30014 !important;
}

/* Searchbar */

#view-quotation .filter-search .input-group .form-control.filter-ltr {
  border-left: none;
}

#view-quotation .filter-search .input-group-text.filter-ltr {
  background-color: transparent;
  border-right: none;
}

/* Select Filter */

#view-quotation .select-filter {
  display: flex;
  margin: 0 10px 0 10px;
}

#view-quotation .select-filter select.form-select.filter {
  height: 45px;
}

#view-quotation .select-filter select.form-select.filter.filter-one {
  border-right: none;
  border-radius: 5px 0 0 5px;
}

#view-quotation .select-filter select.form-select.filter.filter-two {
  border-right: none;
  border-radius: 0;
}

#view-quotation .select-filter select.form-select.filter.filter-three {
  border-radius: 0;
}

#view-quotation .select-filter select.form-select.filter.filter-four {
  border-left: none;
  border-radius: 0 5px 5px 0;
}

/* Button Action */

#view-quotation .button-wrapper {
  display: flex;
  justify-content: space-between;
}

.button-new-quotation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  background-color: #548a03;
  color: #ffff;
  border: none;
  border-radius: 5px;
}

#view-quotation svg.svg-inline--fa.fa-plus.fa-sm {
  color: black;
  margin: 5px;
}
