#new-complaint .costumer-information {
  width: 345px;
}

#new-complaint .costumer-information .form-header {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
}

#new-complaint .costumer-information .form-body {
  margin-bottom: 50px;
}

#new-complaint .costumer-information .form-body .field-alamat {
  min-height: 172px;
}

#new-complaint .costumer-information .form-body .field-reason-complaint {
  min-height: 130px;
}

#new-complaint .costumer-information .form-body .form-check-request .form-check-input {
  margin-top: 0;
  width: 15px;
  height: 15px;
}

#new-complaint .costumer-information .form-body .service-information {
  margin: 30px 0 30px 0;
}

#new-complaint .costumer-information .form-body .service-information .service-detail h1 {
  padding: 10px 0 10px 0;
}

#new-complaint .costumer-information .form-body .request-information {
  margin: 25px 0 25px 0;
}

#new-complaint .costumer-information .form-body .request-information .request-detail h1 {
  padding: 10px 0 10px 0;
}

#new-complaint
  .costumer-information
  .form-body
  .request-information
  .request-detail
  .form-control.request-date {
  border: none;
}

#new-complaint
  .costumer-information
  .form-body
  .request-information
  .request-detail
  .form-control.survey-date {
  border: none;
}

#new-complaint .costumer-information .form-body .work-information {
  margin: 25px 0 25px 0;
}

#new-complaint .costumer-information .form-body .work-information .work-detail h1 {
  padding: 10px 0 10px 0;
}

#new-complaint
  .costumer-information
  .form-body
  .work-information
  .work-detail
  .form-control.work-start {
  border: none;
}

#new-complaint
  .costumer-information
  .form-body
  .work-information
  .work-detail
  .form-control.work-finish {
  border: none;
}

/* Button */

.btn.btn-light-dark {
  width: 150px;
  height: 50px;
  color: white !important;
  border-color: transparent !important;
  background-color: #7f7f7f !important;
  transition: 0.3s ease-in-out;
}

.btn.btn-light-dark:hover:not(.btn-active) {
  background-color: rgb(57, 57, 59) !important;
}

.btn.btn-dark-danger {
  width: 100px;
  height: 50px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #a30014 !important;
  transition: 0.3s ease-in-out;
}

.btn.btn-dark-danger:hover:not(.btn-active) {
  background-color: #d80019 !important;
}

.btn.btn-dark-primary {
  width: 100px;
  height: 50px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #020080 !important;
  transition: 0.3s ease-in-out;
}

.btn.btn-dark-primary:hover:not(.btn-active) {
  background-color: #0300b5 !important;
}

.btn.btn-dark-success {
  width: 180px;
  height: 50px;
  color: white !important;
  border-color: transparent !important;
  background-color: #6b9230 !important;
  transition: 0.3s ease-in-out;
}

.btn.btn-dark-success:hover:not(.btn-active) {
  background-color: #7cb920 !important;
}

.button-add button {
  width: 70px;
  height: 30px;
  margin-bottom: 10px;
  background-color: #0f4cff;
  color: #ffff;
  border: none;
  border-radius: 5px;
}

/* Table Picklist*/

#new-complaint .table-picklist .table tr,
.table th,
.table td {
  border: 1px solid gray;
}

.table-picklist th {
  text-align: center;
}

/* Form Input Image */

form.form-input-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #858585;
  width: 100%;
  min-height: 110px;
  cursor: pointer;
  border-radius: 5px;
}

.input-image-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
}

.input-image-text p {
  margin: 10px 10px;
  padding: 5px 10px !important;
  border: 1px solid;
  border-radius: 5px;
  color: #858585;
}

.uploaded-row {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #f4f7fe;
}

.upload-content {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.image-preview {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

svg.svg-inline--fa.fa-file-image.fa-sm {
  margin: 0 10px 0 0;
}

svg.svg-inline--fa.fa-trash.fa-sm {
  margin: 0 0 0 10px;
}
