p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}

/* Sidebar */

#kt_aside_toggle {
  display: none;
}

.ReactQueryDevtools {
  display: none;
}

.engage-toolbar {
  display: none;
}

#topbar .btn .svg-icon {
  color: white !important;
}

#topbar .btn.show .svg-icon {
  color: #009ef7 !important;
}

#topbar .btn:hover .svg-icon {
  color: #009ef7 !important;
}

.menu-link.active {
  background-color: #e2e2e2 !important;
  border-right: 4px solid #009ef7 !important;
}

.aside-logo {
  min-height: 175px !important;
}

/* Apex Chart Legend */

.apexcharts-legend.apexcharts-align-center.apx-legend-position-left {
  height: 120px !important;
  top: 0px !important;
}

/* Date Range */

.ant-picker.ant-picker-range.css-dev-only-do-not-override-1m62vyb.date-range {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
}

/* .form-check-input {
  width: 1.1rem !important;
  height: 1.1rem !important;
}

.form-check .form-check-input {
  margin-left: -1.5rem !important;
}

.form-check-input[type='radio'] {
  margin-top: 0.1rem;
  border-radius: 50%;
} */
