/* Table Order */

#detail-complaint .request-date.col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
  padding: 0 100px 0 10px;
}

#detail-complaint .order-status.col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
  padding: 0 30px 0 30px;
}

#detail-complaint .button-add.text-end.col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
  padding: 0 10px 0 100px;
}

#detail-complaint .upload-receipt.row .col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
  padding: 0 100px 0 10px;
}

/* Table Complaint*/

#detail-complaint .table-picklist .table tr,
.table th,
.table td {
  border: 1px solid gray;
}

#detail-complaint .table-picklist th {
  text-align: center;
}

/* Button Action */

#detail-complaint .btn.btn-dark-success {
  width: 100px;
  height: 35px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #6b9230 !important;
  transition: 0.3s ease-in-out;
}

#detail-complaint .btn.btn-dark-success:hover:not(.btn-active) {
  background-color: #7cb920 !important;
}

#detail-complaint .btn.btn-light-danger {
  width: 100px;
  height: 35px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #a30014 !important;
  transition: 0.3s ease-in-out;
}

#detail-complaint .btn.btn-light-danger:hover:not(.btn-active) {
  background-color: #d80019 !important;
}

#detail-complaint .btn.btn-dark-danger:hover:not(.btn-active) {
  background-color: #d80019 !important;
}

#detail-complaint .btn.btn-dark-danger {
  width: 100px;
  height: 50px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #a30014 !important;
  transition: 0.3s ease-in-out;
}

#detail-complaint .btn.btn-dark-danger:hover:not(.btn-active) {
  background-color: #d80019 !important;
}

/* Form Input Image */

form.form-input-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #858585;
  width: 100%;
  min-height: 110px;
  cursor: pointer;
  border-radius: 5px;
}

.input-image-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
}

.input-image-text p {
  margin: 10px 10px;
  padding: 5px 10px !important;
  border: 1px solid;
  border-radius: 5px;
  color: #858585;
}

.uploaded-row {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #f4f7fe;
}

.upload-content {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.image-preview {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

svg.svg-inline--fa.fa-file-image.fa-sm {
  margin: 0 10px 0 0;
}

svg.svg-inline--fa.fa-trash.fa-sm {
  margin: 0 0 0 10px;
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 768px) {
  /* Table Order */

  #detail-complaint .request-date.col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
  }

  #detail-complaint .order-status.col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
  }

  #detail-complaint .button-add.text-end.col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
    margin-top: 20px;
    padding: 0 10px 0 10px;
  }

  #detail-complaint .upload-receipt.row .col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
    padding: 0 10px 0 10px;
  }
}

@media screen and (max-width: 576px) {
  /* Button */

  #detail-complaint .btn.btn-dark-primary {
    height: 40px;
  }

  #detail-complaint .btn.btn-dark-danger {
    height: 40px;
  }
}
