/* Form Layout */

#detail-work-order p {
  padding: 3px 9.75px;
}

#detail-work-order .form-wrapper {
  margin-bottom: 30px;
}

#detail-work-order .form-wrapper .form-header {
  margin-bottom: 30px;
}

#detail-work-order .costumer-info.col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
  width: 60%;
}

#detail-work-order .costumer-info .detail-info.row label.form-label.col-form-label.col-sm-5 {
  padding: 3px 9.75px;
}

#detail-work-order .costumer-info .detail-info.row label.form-label.col-form-label.col-sm-6 {
  padding: 3px 9.75px;
}

#detail-work-order .costumer-info .detail-info.row input.form-control-plaintext {
  padding: 3px 0px;
}

#detail-work-order .sales-info.col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
  width: 40%;
}

#detail-work-order .sales-info .detail-info.row label.form-label.col-form-label.col-sm-3 {
  padding: 3px 9.75px;
}

#detail-work-order .sales-info .detail-info.row label.form-label.col-form-label.col-sm-6 {
  padding: 3px 9.75px;
}

#detail-work-order .sales-info .detail-info.row input.form-control-plaintext {
  padding: 3px 0px;
}

/* Table */

#detail-work-order .table-item {
  margin: 30px 0 30px 0;
}

#detail-work-order .table-item .table tr,
.table th,
.table td {
  border: 1px solid gray;
}

#detail-work-order .table-item th {
  background-color: #555555;
  color: #ffff;
  font-weight: 400;
  text-align: center;
}
