/* Card */

#new-refund .order-history {
  margin-top: 20px;
  margin-bottom: 50px;
}

#new-refund .order-history .title h1 {
  font-size: 22.5px;
  padding: 0 0 20px 0;
}

/* Informasi Pemasangan */

#new-refund .form-wrapper {
  margin-bottom: 30px;
}

#new-refund .form-wrapper .form-header {
  margin-bottom: 30px;
}

#new-refund p {
  padding: 3px 9.75px;
}

#new-refund .detail-info.row label.form-label {
  padding: 3px 9.75px;
}

#new-refund textarea.desc-notes.form-control {
  min-height: 135px !important;
}

#new-refund .costumer-info.col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
  width: 60%;
}

#new-refund .sales-info.col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
  width: 40%;
}

/* Button */

#new-refund .btn.btn-dark-danger {
  width: 100px;
  height: 50px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #a30014 !important;
  transition: 0.3s ease-in-out;
}

#new-refund .btn.btn-dark-danger:hover:not(.btn-active) {
  background-color: #d80019 !important;
}

#new-refund .btn.btn-dark-primary {
  width: 180px;
  height: 50px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #020080 !important;
  transition: 0.3s ease-in-out;
}

#new-refund .btn.btn-dark-primary:hover:not(.btn-active) {
  background-color: #0300b5 !important;
}

@media screen and (max-width: 1200px) {
  #new-refund .costumer-info.col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
    width: 100%;
  }

  #new-refund .sales-info.col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
    width: 100%;
  }
}
