/* Header */
#printout-order {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif !important;
}

#printout-order h2 {
  font-size: 12px;
}

#printout-order h3 {
  font-size: 11px;
}

#printout-order h4 {
  font-size: 10px;
  padding-bottom: 5px;
}

#printout-order h5 {
  font-size: 8px;
  padding-bottom: 5px;
}

/* Layout */

#printout-order .card {
  width: 500px;
}

#printout-order .card .card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem 1.5rem !important;
}

#printout-order img.logo {
  height: 40px;
  padding-right: 8px;
}

/* Button */

#printout-order .hide-print-button.btn.btn-dark-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px !important;
}

/* Receipt ID */

#printout-order .receipt-id {
  margin-top: 100px;
}

/* Printout Order */
@media screen and (max-width: 576px) {
  #printout-order .button-wrapper {
    flex-direction: column;
  }

  #printout-order .hide-print-button {
    width: 100% !important;
    margin: 5px 5px;
  }

  #printout-order .receipt-id {
    margin-top: 30px;
  }

  #printout-order img.logo {
    width: 100%;
    height: auto;
  }
}

/* Hide Print */
@media print {
  .hide-print-button {
    display: none !important;
  }

  div#kt_header {
    display: none;
    background-color: #ffff;
  }

  .header-fixed.toolbar-fixed .wrapper {
    background-color: #ffff;
  }

  div#kt_page_title {
    display: none;
    visibility: hidden;
  }

  div#kt_scrolltop {
    display: none;
  }

  #printout-order .card {
    border: none !important;
    box-shadow: none !important;
  }

  @media screen and (max-width: 991px) {
    div#kt_page_title {
      display: none;
      visibility: hidden;
    }

    .header-fixed.toolbar-fixed .wrapper {
      background-color: #ffff;
    }
  }

  @media screen and (max-width: 576px) {
    #printout-order .receipt-id {
      margin-top: 10px;
    }
  }
}
