/* Table */
#view-reschedule .table-head-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#view-reschedule .table-head-wrapper .right {
  display: flex;
  justify-content: space-between;
}

#view-reschedule .ant-table-wrapper .ant-table-thead > tr > th {
  color: #ffff;
  font-weight: 500;
  background-color: #183383;
}

#view-reschedule
  .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 0;
}

.ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:last-child {
  border-start-end-radius: 0;
}

#view-reschedule .table-head-wrapper {
  margin-bottom: 20px;
}

#view-reschedule .ant-table-fixed {
  table-layout: fixed;
}

#view-reschedule .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #dcdcdc;
}

#view-reschedule .ant-table-tbody > tr > td {
  word-wrap: break-word;
  word-break: break-word;
}

#view-reschedule .table-striped-rows tr:nth-child(even) td {
  background-color: #ffff;
}

#view-reschedule .table-striped-rows tr:nth-child(odd) td {
  background-color: #e4e9f7;
}

#view-reschedule .ant-table-thead > tr > th.col-work-status {
  background-color: #a30014 !important;
}

#view-reschedule .ant-table-thead > tr > th.col-complaint-date {
  background-color: #a30014 !important;
}

#view-reschedule .ant-table-thead > tr > th.col-complaint-status {
  background-color: #a30014 !important;
}

/* Filter Search */

#view-reschedule .filter-search {
  width: 370px;
}

#view-reschedule input.filter-ltr.form-control {
  height: 45px !important;
  padding-left: 35px !important;
}

#view-reschedule .filter-search .search-icon {
  float: left;
  margin-left: 11px;
  margin-top: -30px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  #view-reschedule .filter-search {
    width: 100%;
  }
}
