/* Form Layout */

#detail-complaint .form-wrapper {
  margin-bottom: 30px;
}

#detail-complaint .form-wrapper .form-header {
  margin-bottom: 30px;
}

#detail-complaint .form-wrapper .form-header label.form-label.col-form-label.col-sm-4 {
  padding: 3px 9.75px;
}

#detail-complaint .form-wrapper .form-header input.form-control-plaintext {
  padding: 3px 0px;
}

#detail-complaint .form-wrapper .form-header label.fs-4.fw-bold.form-label {
  margin: 0 !important;
}

#detail-complaint .costumer-info.col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
  width: 60%;
}

#detail-complaint .costumer-info .detail-info.row label.form-label.col-form-label.col-sm-6 {
  padding: 3px 9.75px;
}

#detail-complaint .costumer-info .detail-info.row label.form-label.col-form-label.col-sm-4 {
  padding: 3px 9.75px;
}

#detail-complaint .costumer-info .detail-info.row input.form-control-plaintext {
  padding: 3px 0px;
}

#detail-complaint .sales-info.col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
  width: 40%;
}

#detail-complaint .sales-info .detail-info.row label.form-label.col-form-label.col-sm-6 {
  padding: 3px 9.75px;
}

#detail-complaint .sales-info .detail-info.row input.form-control-plaintext {
  padding: 3px 0px;
}

/* Table Order */

#detail-complaint .request-date.col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
  padding: 0 100px 0 10px;
}

#detail-complaint .order-status.col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
  padding: 0 30px 0 30px;
}

#detail-complaint .button-add.text-end.col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
  padding: 0 10px 0 100px;
}

#detail-complaint .upload-receipt.row .col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
  padding: 0 100px 0 10px;
}

/* Table Complaint*/

#detail-complaint .table-picklist .table tr,
.table th,
.table td {
  border: 1px solid gray;
}

#detail-complaint .table-picklist th {
  text-align: center;
}

/* Form Input Image */

#detail-complaint form.form-input-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #858585;
  width: 100%;
  min-height: 130px;
  cursor: pointer;
  border-radius: 5px;
}

.input-image-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
}

.input-image-text p {
  margin: 10px 10px;
  padding: 5px 10px !important;
  border: 1px solid;
  border-radius: 5px;
  color: #858585;
}

.uploaded-row {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #f4f7fe;
}

.upload-content {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.image-preview {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

svg.svg-inline--fa.fa-file-image.fa-sm {
  margin: 0 10px 0 0;
}

svg.svg-inline--fa.fa-trash.fa-sm {
  margin: 0 0 0 10px;
}

@media screen and (max-width: 1400px) {
  /* Form Layout */

  #detail-complaint .form-header.row .col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
    padding: 0 10px 0 10px;
  }

  #detail-complaint .input-order.row .col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
    padding: 0 10px 0 10px;
  }

  #detail-complaint .alamat-order.row .col {
    padding: 0 10px 0 10px;
  }
}

@media screen and (max-width: 1200px) {
  /* Form Layout */

  #detail-complaint .form-wrapper {
    flex-direction: column;
    gap: 10px;
  }

  #detail-complaint .costumer-info.col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
    width: 100%;
  }

  #detail-complaint .sales-info.col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
    width: 100%;
  }

  #detail-complaint .form-header.row .col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
    padding: 0 10px 0 10px;
  }

  #detail-complaint .input-order.row .col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
    padding: 0 10px 0 10px;
  }

  #detail-complaint .alamat-order.row .col {
    padding: 0 10px 0 10px;
  }

  /* Form Sales */

  #detail-complaint .form-sales .form-header {
    margin-bottom: 20px;
  }

  #detail-complaint .form-sales .form-header h1 {
    text-align: start !important;
  }
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 768px) {
  /* Table Order */

  #detail-complaint .request-date.col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
  }

  #detail-complaint .order-status.col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
  }

  #detail-complaint .button-add.text-end.col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
    margin-top: 20px;
    padding: 0 10px 0 10px;
  }

  #detail-complaint .upload-receipt.row .col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
    padding: 0 10px 0 10px;
  }
}

@media screen and (max-width: 576px) {
  /* Button */

  #detail-complaint .btn.btn-dark-primary {
    height: 40px;
  }

  #detail-complaint .btn.btn-dark-danger {
    height: 40px;
  }
}
