/* Card */

#detail-complaint .card .card-body .information-wrapper {
  width: 330px;
}

#detail-complaint .information-wrapper .detail-header {
  min-height: 70px;
}

#detail-complaint .order-history {
  margin-top: 20px;
  margin-bottom: 50px;
}

#detail-complaint .order-history .title h1 {
  font-size: 22.5px;
  padding: 0 0 20px 0;
}

/* Detail Complaint */

#detail-complaint .complaint-information h4 {
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}

#detail-complaint .complaint-detail h4 {
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}

#detail-complaint .complaint-detail p {
  font-size: 14px;
  font-weight: 400;
}

#detail-complaint .complaint-evidence h4 {
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}

#detail-complaint .table .detail-complaint-table tr,
.table .detail-complaint-table th,
.table .detail-complaint-table td {
  border: none;
}

/* Timeline */

#detail-complaint .anticon svg {
  color: white;
}

#detail-complaint .ant-steps.ant-steps-small .ant-steps-item-icon {
  line-height: 20px;
}

#detail-complaint .ant-steps .ant-steps-item-wait .ant-steps-item-icon {
  background-color: #ee480a !important;
  opacity: 0.3;
}

#detail-complaint .ant-steps .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  color: #ffff;
}

#detail-complaint .ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #ee480a !important;
  border-color: #ffff;
  border-width: 2px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

#detail-complaint .ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #ee480a !important;
  border-color: #ffff;
  border-width: 2px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

#detail-complaint .ant-steps-item-title {
  margin: 0 20px 0 20px;
  font-weight: 600;
}

#detail-complaint
  .ant-steps
  .ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  margin: 0 20px 20px;
  font-weight: 400;
}

#detail-complaint .ant-steps.ant-steps-label-vertical .ant-steps-item-tail {
  margin: 0 0 0 56px;
  padding: 3px 16px;
}

#detail-complaint
  .ant-steps
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #ee480a !important;
  opacity: 0.3;
  height: 4px;
  border-radius: 0;
}

#detail-complaint
  .ant-steps
  .ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #ee480a !important;
  height: 4px;
  opacity: 0.3;
  border-radius: 0;
}

#detail-complaint
  .ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #ee480a !important;
  height: 4px;
  border-radius: 0;
}

/* Button */

#detail-complaint .btn.btn-dark-danger {
  width: 100px;
  height: 50px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #a30014 !important;
  transition: 0.3s ease-in-out;
}

.btn.btn-dark-danger:hover:not(.btn-active) {
  background-color: #d80019 !important;
}

#detail-complaint .btn.btn-dark-primary {
  width: 180px;
  height: 50px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #020080 !important;
  transition: 0.3s ease-in-out;
}

.btn.btn-dark-primary:hover:not(.btn-active) {
  background-color: #0300b5 !important;
}
