/* Informasi Pemasangan */

#update-reschedule .title h1 {
  font-size: 22.5px;
  padding: 0 0 20px 0;
}

#update-reschedule .form-wrapper {
  margin-bottom: 30px;
}

#update-reschedule .form-wrapper .form-header {
  margin-bottom: 30px;
}

#update-reschedule p {
  padding: 3px 9.75px;
}

#update-reschedule .detail-info.row label.form-label {
  padding: 3px 9.75px;
}

#update-reschedule textarea.desc-notes.form-control {
  min-height: 135px !important;
}

#update-reschedule .costumer-info.col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
  width: 60%;
}

#update-reschedule .sales-info.col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
  width: 40%;
}

#update-reschedule .reason {
  min-height: 225px;
}

/* Button */

#update-reschedule .btn.btn-dark-primary {
  width: 180px;
  height: 50px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #020080 !important;
  transition: 0.3s ease-in-out;
}

#update-reschedule .btn.btn-dark-primary:hover:not(.btn-active) {
  background-color: #0300b5 !important;
}

#update-reschedule .btn.btn-dark-success {
  width: 100px;
  height: 35px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #6b9230 !important;
  transition: 0.3s ease-in-out;
}

#update-reschedule .btn.btn-dark-success:hover:not(.btn-active) {
  background-color: #7cb920 !important;
}

#update-reschedule .btn.btn-light-danger {
  width: 100px;
  height: 35px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #a30014 !important;
  transition: 0.3s ease-in-out;
}

#update-reschedule .btn.btn-light-danger:hover:not(.btn-active) {
  background-color: #d80019 !important;
}

@media screen and (max-width: 1200px) {
  #update-reschedule .costumer-info.col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
    width: 100%;
  }

  #update-reschedule .sales-info.col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
    width: 100%;
  }
}
