/* Typography */
#new-order label.title.form-label {
  font-size: 13px;
}

/* Form Layout */

#new-order .form-wrapper {
  display: flex;
  margin-bottom: 30px;
}

#new-order .form-costumer {
  width: 70%;
}

#new-order .form-sales {
  width: 30%;
}

#new-order .form-header.row .col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
  padding: 0 70px 0 10px;
}

#new-order .input-order.row .col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
  padding: 0 70px 0 10px;
}

#new-order .alamat-order.row .col {
  padding: 0 70px 0 10px;
}

#new-order .form-check-request .form-check-input {
  margin-top: 0;
  width: 15px;
  height: 15px;
}

/* Form Header */

#new-order .form-header.row {
  margin-bottom: 30px;
}

#new-order .form-header .form-check-request label.form-check-label {
  font-size: 11px;
}

/* Form Sales */

#new-order .form-sales .form-header {
  margin-bottom: 30px;
}

/* Form Input Table Order */

#new-order .table-order-content .select__control.css-13cymwt-control {
  border: none;
}

#new-order .table-order-content span.select__indicator-separator.css-1u9des2-indicatorSeparator {
  background-color: transparent;
}

#new-order .table-order-content .css-t3ipsp-control {
  background-color: transparent;
  border: black;
  box-shadow: none !important;
}

#new-order .table-order-content .css-t3ipsp-control:hover {
  background-color: transparent;
  border: black;
  box-shadow: none !important;
}

#new-order .table-order-content input.form-control {
  text-align: center;
  background-color: transparent;
  border: none;
}

/* Table Order */

#new-order .request-date.col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
  padding: 0 100px 0 10px;
}

#new-order .order-status.col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
  padding: 0 30px 0 30px;
}

#new-order .button-add.text-end.col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
  padding: 0 10px 0 100px;
}

#new-order .upload-receipt.row .col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
  padding: 0 100px 0 10px;
}

/* Button */

#new-order .button-add button {
  width: 130px;
  height: 30px;
  margin-bottom: 10px;
  background-color: #04562b;
  color: #ffff;
  border: none;
  border-radius: 5px;
}

#new-order .btn.btn-dark-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #020080 !important;
  transition: 0.3s ease-in-out;
}

#new-order .btn.btn-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #a16d00 !important;
  transition: 0.3s ease-in-out;
}

#new-order button.btn-remove.btn.btn-danger span.text {
  display: block;
}

#new-order button.btn-remove.btn.btn-danger span.icon {
  display: none;
}

/* Table Picklist*/

#new-order .table-order-head .table tr,
.table th,
.table td {
  border: 1px solid gray;
}

.table-order-head th {
  text-align: center;
}

@media screen and (max-width: 1400px) {
  /* Form Layout */

  #new-order .form-header.row .col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
    padding: 0 10px 0 10px;
  }

  #new-order .input-order.row .col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-12 {
    padding: 0 10px 0 10px;
  }

  #new-order .alamat-order.row .col {
    padding: 0 10px 0 10px;
  }

  #new-order label.title.form-label {
    font-size: 12px;
  }

  #new-order label.title.form-label.col-form-label.col-sm-4 {
    padding: 0 9.75px;
  }

  #new-order label.title.form-label.col-form-label.col-sm-4 {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  #new-order .form-wrapper {
    flex-direction: column;
    gap: 10px;
  }

  #new-order .form-costumer {
    width: 100%;
  }

  #new-order .form-sales {
    width: 100%;
  }

  #new-order .alamat-order.row .col {
    padding: 0 10px 0 10px;
  }

  #new-order .form-sales .form-header {
    margin-bottom: 20px;
  }

  #new-order .form-sales .form-header h1 {
    text-align: start !important;
  }
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 768px) {
  #new-order .request-date.col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
  }

  #new-order .order-status.col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
  }

  #new-order .button-add.text-end.col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
    margin-top: 20px;
    padding: 0 10px 0 10px;
  }

  #new-order .upload-receipt.row .col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-12 {
    padding: 0 10px 0 10px;
  }

  /* Button Remove */
  #new-order button.btn-remove.btn.btn-danger span.text {
    display: none;
  }

  #new-order button.btn-remove.btn.btn-danger span.icon {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  #new-order .btn.btn-dark-primary {
    width: 100%;
    height: 50px;
    margin: 0 0 0 10px;
  }

  #new-order .btn.btn-warning {
    width: 100%;
    height: 50px;
    margin: 0 10px 0 0;
  }
}
