/* Form Layout */
#update-csi .form-template {
  margin-bottom: 20px;
}

#update-csi .rich-text {
  min-height: 100px;
}

/* Button Action */

#update-csi .btn.btn-dark-primary {
  width: fit-content;
  height: 45px;
  margin: 0 10px 0 10px;
}
