#update-csi .costumer-information {
  width: 345px;
}

#update-csi .costumer-information .form-header {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
}

#update-csi .costumer-information .form-body {
  margin-bottom: 50px;
}

#update-csi .costumer-information .form-body .field-alamat {
  min-height: 215px;
}

#update-csi .costumer-information .form-body .form-check-request .form-check-input {
  margin-top: 0;
  width: 15px;
  height: 15px;
}

/* Table */
#update-csi .table-head-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

#update-csi .table-head-wrapper .left {
  display: flex;
  align-items: center;
}

#update-csi .table-head-wrapper .middle {
  display: flex;
  justify-content: space-between;
}

#update-csi .ant-table-wrapper .ant-table-thead > tr > th {
  color: #ffff;
  font-weight: 500;
  background-color: #183383;
}

#update-csi .ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:first-child {
  border-start-start-radius: 0;
}

#update-csi .ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:last-child {
  border-start-end-radius: 0;
}

#update-csi .table-head-wrapper {
  margin-bottom: 20px;
}

#update-csi .ant-table-fixed {
  table-layout: fixed;
}

#update-csi .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #dcdcdc;
}

#update-csi .ant-table-tbody > tr > td {
  word-wrap: break-word;
  word-break: break-word;
}

#update-csi .table-striped-rows tr:nth-child(even) td {
  background-color: #ffff;
}

#update-csi .table-striped-rows tr:nth-child(odd) td {
  background-color: #e4e9f7;
}

#update-csi .ant-table-thead > tr > th.col-work-status {
  background-color: #a30014 !important;
}

#update-csi .ant-table-thead > tr > th.col-complaint-date {
  background-color: #a30014 !important;
}

#update-csi .ant-table-thead > tr > th.col-complaint-status {
  background-color: #a30014 !important;
}

/* Searchbar */

#update-csi .filter-search .input-group .form-control.filter-ltr {
  border-left: none;
}

#update-csi .filter-search .input-group-text.filter-ltr {
  background-color: transparent;
  border-right: none;
}

/* Select Filter */

.select-filter {
  display: flex;
  margin: 0 10px 0 10px;
}

.select-filter select.form-select.filter {
  height: 45px;
}

.select-filter select.form-select.filter.filter-one {
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.select-filter select.form-select.filter.filter-two {
  border-right: none;
  border-radius: 0;
}

.select-filter select.form-select.filter.filter-three {
  border-radius: 0;
}

.select-filter select.form-select.filter.filter-four {
  border-left: none;
  border-radius: 0 5px 5px 0;
}

/* Button Action */

#update-csi .button-wrapper {
  display: flex;
  justify-content: space-between;
}

.button-detail svg.svg-inline--fa.fa-book.fa-sm {
  color: black;
}

.button-edit svg.svg-inline--fa.fa-pen.fa-sm {
  color: black;
}

.button-delete svg.svg-inline--fa.fa-trash.fa-sm {
  margin: 0;
  color: #d50119;
}

.button-export {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  background-color: #04844b;
  color: #ffff;
  border: none;
  border-radius: 5px;
}

svg.svg-inline--fa.fa-file-excel.fa-lg.excel-icon {
  margin: 5px;
}

.button-new-order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  background-color: #548a03;
  color: #ffff;
  border: none;
  border-radius: 5px;
}

svg.svg-inline--fa.fa-plus.fa-lg.plus-icon {
  margin: 5px;
}
