#preview-email {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview-email .card {
  width: 900px;
}

#preview-email .card .card-body {
  min-height: 100vh;
  padding: 3rem 3rem !important;
}

#preview-email .card-header {
  height: 180px;
  background-image: url('/public/media/email/header-email-instalasi-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#preview-email .content-header.row {
  margin-bottom: 30px;
}

#preview-email .header-logo {
  display: flex;
  align-items: center;
}

#preview-email .card .card-footer {
  height: 164px;
  background-image: url('/public/media/email/footer-email-instalasi-02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 800px) {
  #preview-email .card-header {
    height: 124px;
  }

  #preview-email .card .card-footer {
    height: 100px;
  }
}

@media screen and (max-width: 400px) {
  #preview-email .header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #preview-email .header-information {
    text-align: center;
  }

  #preview-email .header-logo img {
    height: 50px !important;
    padding-right: 0 !important;
  }

  #preview-email .header-logo h1 {
    margin-bottom: 15px !important;
    padding-left: 0 !important;
  }
}
