/* Card */
#detail-payment {
  display: flex;
  justify-content: center;
  align-items: center;
}

#detail-payment .card {
  width: 900px;
}

#detail-payment .card .card-body {
  min-height: 100vh;
  padding: 3rem 3rem !important;
}

#detail-payment .receiver-information .receiver-detail h1 {
  font-size: 18px;
}

#detail-payment .receiver-information .receiver-detail .address {
  margin: 15px 0;
}

#detail-payment .receiver-information .receiver-detail h3 {
  padding: 4px 0;
  font-size: 16px;
}

#detail-payment .payment-request h1 {
  font-size: 41px;
}

#detail-payment .payment-request h3 {
  margin: 10px 0;
  font-size: 16px;
}

#detail-payment .detail-table table tr th {
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #183383;
}

#detail-payment
  .detail-table
  table.table.table-striped.table-bordered.table-hover
  tr:nth-child(even)
  td {
  background-color: #e4e9f7;
}

#detail-payment
  .detail-table
  table.table.table-striped.table-bordered.table-hover
  tr:nth-child(odd)
  td {
  background-color: #ffff;
}

/* Timeline */

#detail-payment .anticon svg {
  color: white;
}

#detail-payment .ant-steps.ant-steps-small .ant-steps-item-icon {
  line-height: 20px;
}

#detail-payment .ant-steps .ant-steps-item-wait .ant-steps-item-icon {
  background-color: #ee480a !important;
  opacity: 0.3;
}

#detail-payment .ant-steps .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  color: #ffff;
}

#detail-payment .ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #ee480a !important;
  border-color: #ffff;
  border-width: 2px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

#detail-payment .ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #ee480a !important;
  border-color: #ffff;
  border-width: 2px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

#detail-payment .ant-steps-item-title {
  margin: 0 20px 0 20px;
  font-weight: 600;
}

#detail-payment
  .ant-steps
  .ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  margin: 0 20px 20px;
  font-weight: 400;
}

#detail-payment .ant-steps.ant-steps-label-vertical .ant-steps-item-tail {
  margin: 0 0 0 56px;
  padding: 3px 16px;
}

#detail-payment
  .ant-steps
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #ee480a !important;
  opacity: 0.3;
  height: 4px;
  border-radius: 0;
}

#detail-payment
  .ant-steps
  .ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #ee480a !important;
  height: 4px;
  opacity: 0.3;
  border-radius: 0;
}

#detail-payment
  .ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #ee480a !important;
  height: 4px;
  border-radius: 0;
}

/* Button */

.btn.btn-dark-danger {
  width: 100px;
  height: 50px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #a30014 !important;
  transition: 0.3s ease-in-out;
}

.btn.btn-dark-danger:hover:not(.btn-active) {
  background-color: #d80019 !important;
}

.btn.btn-dark-primary {
  width: 100px;
  height: 50px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #020080 !important;
  transition: 0.3s ease-in-out;
}

.btn.btn-dark-primary:hover:not(.btn-active) {
  background-color: #0300b5 !important;
}
