#more-information-ho .card .card-body {
  min-height: 390px;
}

@media screen and (max-width: 1200px) {
  #more-information-ho .fs-1.text-gray-800 {
    text-align: center;
  }

  #more-information-ho .fs-1.text-danger {
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  #more-information-ho .fs-1.text-gray-800 {
    text-align: center;
  }

  #more-information-ho .card .card-body {
    min-height: auto;
  }
}
