#view-csi .list-respons .table-responsive table.table.table-borderless th {
  border: solid transparent !important;
}

#view-csi .list-respons .table-responsive table.table.table-borderless tr {
  border: solid transparent !important;
}

#view-csi .list-respons .table-responsive table.table.table-borderless td {
  border: solid transparent !important;
}
