/* Form Layout */

#update-work-order-tukang .detail-info {
  margin-bottom: 10px;
}

#update-work-order-tukang .detail-info p {
  margin-bottom: 10px;
}

#update-work-order-tukang .detail-info .title {
  margin-bottom: 10px;
}

/* Date Picker */
#update-work-order-tukang
  :where(.css-dev-only-do-not-override-1ck3jst).ant-picker
  .ant-picker-input
  > input[disabled] {
  color: black !important;
  font-weight: 600;
}

#update-work-order-tukang .ant-picker-range-separator .anticon svg {
  color: black;
}

#update-work-order-tukang .ant-picker-suffix .anticon svg {
  color: black;
}

/* Form Upload File */

#update-work-order-tukang form.form-input-image {
  border: 2px solid #858585;
  min-height: 80px;
}

#update-work-order-tukang .table .table-item-head tr th {
  font-weight: 400;
  text-align: center;
  color: #ffff;
  background-color: #464646;
}

/* Table Work Order History */

#update-work-order-tukang .ant-table-wrapper .ant-table-thead > tr > th {
  color: #ffff;
  font-weight: 500;
  background-color: #183383;
}

#update-work-order-tukang
  .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 0;
}

.ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:last-child {
  border-start-end-radius: 0;
}

#update-work-order-tukang .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #dcdcdc;
}

#update-work-order-tukang .ant-table-tbody > tr > td {
  word-wrap: break-word;
  word-break: break-word;
}

/* Work Order Tukang */
#update-work-order-tukang
  :where(.css-dev-only-do-not-override-1ck3jst).ant-picker.ant-picker-disabled {
  background-color: white !important;
}

#update-work-order-tukang
  :where(.css-dev-only-do-not-override-1ck3jst).ant-picker
  .ant-picker-input
  > input[disabled] {
  color: black !important;
  font-weight: 600;
}

/* Button Action */

#update-work-order-tukang button.btn.btn-btn-jasa.button-dark-primary {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #183383;
  color: white;
}

#update-work-order-tukang button.btn.btn-btn-material.button-dark-primary {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #183383;
  color: white;
}

/* Responsive Table */

@media screen and (max-width: 768px) {
  #update-work-order-tukang .table-responsive {
    margin-bottom: 30px;
  }

  #update-work-order-tukang .table .table-item-head tr th.content-history {
    min-width: 200px;
  }

  #update-work-order-tukang .table .table-item-head tr th.content {
    min-width: 300px;
  }

  /* Button Action */

  #update-work-order-tukang button.btn.btn-btn-jasa.button-dark-primary {
    width: 100%;
  }

  #update-work-order-tukang button.btn.btn-btn-material.button-dark-primary {
    width: 100%;
  }
}
