/* Table */
#report-performance .table-head-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

#report-performance .table-head-wrapper .left {
  display: flex;
  align-items: center;
}

#report-performance .table-head-wrapper .middle {
  display: flex;
  justify-content: space-between;
}

#report-performance .ant-table-wrapper .ant-table-thead > tr > th {
  color: #ffff;
  font-weight: 500;
  background-color: #183383;
}

#report-performance
  .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 0;
}

#report-performance
  .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-start-end-radius: 0;
}

#report-performance .table-head-wrapper {
  margin-bottom: 20px;
}

#report-performance .ant-table-fixed {
  table-layout: fixed;
}

#report-performance .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #dcdcdc;
}

#report-performance .ant-table-tbody > tr > td {
  word-wrap: break-word;
  word-break: break-word;
}

#report-performance .table-striped-rows tr:nth-child(even) td {
  background-color: #ffff;
}

#report-performance .table-striped-rows tr:nth-child(odd) td {
  background-color: #e4e9f7;
}

#report-performance .ant-table-thead > tr > th.col-work-status {
  background-color: #a30014 !important;
}

#report-performance .ant-table-thead > tr > th.col-complaint-date {
  background-color: #a30014 !important;
}

#report-performance .ant-table-thead > tr > th.col-complaint-status {
  background-color: #a30014 !important;
}

/* Searchbar */

#report-performance .filter-search .input-group .form-control.filter-ltr {
  border-left: none;
}

#report-performance .filter-search .input-group-text.filter-ltr {
  background-color: transparent;
  border-right: none;
}

/* Button Action */

#report-performance .btn.btn-dark-gray {
  width: 150px;
  height: 40px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #999999 !important;
  transition: 0.3s ease-in-out;
}

#report-performance .btn.btn-dark-gray:hover:not(.btn-active) {
  background-color: #5c5c5c !important;
}

#report-performance .btn.btn-dark-success {
  width: 150px;
  height: 40px;
  margin: 0 10px 0 10px;
  color: white !important;
  border-color: transparent !important;
  background-color: #6b9230 !important;
  transition: 0.3s ease-in-out;
}

#report-performance .btn.btn-dark-success:hover:not(.btn-active) {
  background-color: #7cb920 !important;
}

@media screen and (max-width: 576px) {
  #report-performance
    .d-flex.align-items-center.mb-2.col-xxl-8.col-xl-8.col-lg-12.col-md-12.col-12 {
    flex-direction: column;
    justify-content: start !important;
  }

  #report-performance
    .d-flex.align-items-center.justify-content-end.col-xxl-4.col-xl-4.col-lg-12.col-md-12.col-12 {
    justify-content: center !important;
  }
}
