/* Table */
#view-costumer .table-head-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

#view-costumer .ant-table-wrapper .ant-table-thead > tr > th {
  color: #ffff;
  font-weight: 500;
  background-color: #183383;
}

#view-costumer
  .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 0;
}

.ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:last-child {
  border-start-end-radius: 0;
}

#view-costumer .table-head-wrapper {
  margin-bottom: 20px;
}

#view-costumer .ant-table-fixed {
  table-layout: fixed;
}

#view-costumer .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #dcdcdc;
}

#view-costumer .ant-table-tbody > tr > td {
  word-wrap: break-word;
  word-break: break-word;
}

#view-costumer .table-striped-rows tr:nth-child(even) td {
  background-color: #ffff;
}

#view-costumer .table-striped-rows tr:nth-child(odd) td {
  background-color: #e4e9f7;
}

/* Searchbar */

#view-costumer .filter-search {
  display: flex;
  justify-content: center;
}

#view-costumer .filter-search .input-group {
  width: 80%;
  height: 45px;
}

#view-costumer .filter-search .input-group .form-control.filter-rtl {
  border-right: none;
}

#view-costumer .filter-search .input-group-text.filter-rtl {
  background-color: transparent;
}

/* Date Filter */

#view-costumer .date-filter {
  margin: 0 0 0 0 !important;
  display: flex;
  align-items: center;
}

/* Select Filter */

#view-costumer .select-filter {
  width: 100%;
  display: flex;
  align-items: center;
}

#view-costumer .select-filter h3 {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
}

#view-costumer .select-filter select.form-select.filter.filter-order {
  height: 42px;
  border-radius: 5px;
}

/* Button Action */
#view-costumer .button-export {
  margin: 0 10px;
  padding: 0;
  width: 100%;
  height: 45px;
  background-color: transparent;
  color: #04844b;
  border: none !important;
}

#view-costumer .button-print {
  margin: 0 10px;
  padding: 0;
  width: 100%;
  height: 45px;
  background-color: transparent !important;
  border-color: transparent;
  color: #000000;
}

@media screen and (max-width: 1200px) {
  #view-costumer .filter-search {
    width: 100%;
  }
}
