#new-vendor .costumer-information {
  width: 345px;
}

#new-vendor .costumer-information .form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

#new-vendor .costumer-information .form-body {
  margin-bottom: 50px;
}

#new-vendor .costumer-information .form-body .field-alamat {
  min-height: 215px;
}

#new-vendor .costumer-information .form-body .form-check-request .form-check-input {
  margin-top: 0;
  width: 15px;
  height: 15px;
}

.col-8.d-flex.justify-content-between{
    flex-wrap: wrap;
}

.col-8.d-flex.justify-content-between .col-12{
    margin: -35px 0 20px 0;
}

.form-button-request{
    margin-top: -17px;
}

.form-button-request i{
    font-size: 35px !important;
}
